In [37]:
import pandas as pd
from sqlalchemy import create_engine, text
import psycopg2

In [42]:
engine = create_engine('postgresql+psycopg2://postgres:ayushi2002@localhost:5432/django_project')
# engine = create_engine(dialect+driver://username:password@host:port/database_name)

In [30]:
engine

Engine(postgresql+psycopg2://postgres:***@localhost:5432/django_project)

In [79]:
df = pd.read_sql_table("page_customuser", engine, columns=['is_superuser', 'username', 'email', 'is_staff', 'gender', 'fullname', 'public_visibility'])
df

,is_superuser,username,email,is_staff,gender,fullname,public_visibility
0,True,prasad,prasad@gmail.com,True,,,False
1,False,user3,user3@gmail.com,False,M,user three,False
2,False,user,user@gmail.com,False,F,user,False
3,False,user1,user1@gmail.com,False,M,user one,False
4,False,aa,a@gmail.com,False,F,aa aa,False
5,False,bb,b@gmail.com,False,M,bb bb,False
6,False,cc,c@gmail.com,False,M,cc cc,False
7,False,dd,d@gmail.com,False,M,dddd,False
8,False,user2,user2@gmail.com,False,M,user two,False
9,False,user4,user4@gmail.com,False,F,user four,False

In [65]:
query = """
                            SELECT * from "public"."page_customuser"
                        """
df1=pd.read_sql_query(query, engine)
df1

,id,password,last_login,is_superuser,username,first_name,last_name,email,is_staff,is_active,date_joined,gender,fullname,public_visibility
0,2,pbkdf2_sha256$600000$yqtnBV9FMIEwPdUWc5pxBe$Ps...,2023-07-06 07:10:06.171295+00:00,True,prasad,,,prasad@gmail.com,True,True,2023-07-06 07:08:55.362858+00:00,,,False
1,1,pbkdf2_sha256$600000$mEEWdRsdJHkhBHmOZVY2qM$oy...,2023-07-06 07:28:04.410472+00:00,False,user3,,,user3@gmail.com,False,True,2023-07-06 07:02:40.557732+00:00,M,user three,False
2,3,pbkdf2_sha256$600000$EpKrLucPU764pc6jTYJQ6h$77...,NaT,False,user,,,user@gmail.com,False,True,2023-07-06 07:44:03.995758+00:00,F,user,False
3,4,pbkdf2_sha256$600000$PNjfxaTCYkw0GeACGmEEdR$1r...,2023-07-06 07:45:52.925505+00:00,False,user1,,,user1@gmail.com,False,True,2023-07-06 07:45:12.400405+00:00,M,user one,False
4,5,pbkdf2_sha256$600000$ojpuoGDFxY8KicgCBbgSf9$ax...,NaT,False,aa,,,a@gmail.com,False,True,2023-07-06 07:55:15.153112+00:00,F,aa aa,False
5,6,pbkdf2_sha256$600000$oLC5aAGhmuzoyDxnpqnOao$vX...,NaT,False,bb,,,b@gmail.com,False,True,2023-07-06 07:55:53.610914+00:00,M,bb bb,False
6,7,pbkdf2_sha256$600000$N05uaWRsCjEULqnayriony$QF...,NaT,False,cc,,,c@gmail.com,False,True,2023-07-06 07:56:53.101695+00:00,M,cc cc,False
7,8,pbkdf2_sha256$600000$OX4ZtkSywHWnij2Y4nDvWG$Zu...,NaT,False,dd,,,d@gmail.com,False,True,2023-07-06 07:58:19.292163+00:00,M,dddd,False
8,9,pbkdf2_sha256$600000$rgCaQBTIqNV6Yj0rcqkSuM$xI...,NaT,False,user2,,,user2@gmail.com,False,True,2023-07-06 07:59:03.238687+00:00,M,user two,False
9,10,pbkdf2_sha256$600000$uTn7uDUKaiLZAsXNG4kvs5$F1...,NaT,False,user4,,,user4@gmail.com,False,True,2023-07-06 08:00:31.780081+00:00,F,user four,False

In [66]:
type(df1)

pandas.core.frame.DataFrame

In [67]:
df1.shape

(10, 14)

In [73]:
df2 = pd.DataFrame(df1, columns=['username', 'email', 'gender', 'is_superuser'])
df2

  username             email gender  is_superuser
0   prasad  prasad@gmail.com                 True
1    user3   user3@gmail.com      M         False
2     user    user@gmail.com      F         False
3    user1   user1@gmail.com      M         False
4       aa       a@gmail.com      F         False
5       bb       b@gmail.com      M         False
6       cc       c@gmail.com      M         False
7       dd       d@gmail.com      M         False
8    user2   user2@gmail.com      M         False
9    user4   user4@gmail.com      F         False

In [70]:
filtered_data = db[(db['is_superuser'] == True)]
filtered_data

,id,password,last_login,is_superuser,username,first_name,last_name,email,is_staff,is_active,date_joined,gender,fullname,public_visibility
0,2,pbkdf2_sha256$600000$yqtnBV9FMIEwPdUWc5pxBe$Ps...,2023-07-06 07:10:06.171295+00:00,True,prasad,,,prasad@gmail.com,True,True,2023-07-06 07:08:55.362858+00:00,,,False

In [76]:
filtered_data1 = db[(db['gender'] == 'M')]
filtered_data1

,id,password,last_login,is_superuser,username,first_name,last_name,email,is_staff,is_active,date_joined,gender,fullname,public_visibility
1,1,pbkdf2_sha256$600000$mEEWdRsdJHkhBHmOZVY2qM$oy...,2023-07-06 07:28:04.410472+00:00,False,user3,,,user3@gmail.com,False,True,2023-07-06 07:02:40.557732+00:00,M,user three,False

In [86]:
df3 = pd.DataFrame(df)
df3['gender'].replace('M', 'Male', inplace=True)
df3

,is_superuser,username,email,is_staff,gender,fullname,public_visibility
0,True,prasad,prasad@gmail.com,True,,,False
1,False,user3,user3@gmail.com,False,Male,user three,False
2,False,user,user@gmail.com,False,F,user,False
3,False,user1,user1@gmail.com,False,Male,user one,False
4,False,aa,a@gmail.com,False,F,aa aa,False
5,False,bb,b@gmail.com,False,Male,bb bb,False
6,False,cc,c@gmail.com,False,Male,cc cc,False
7,False,dd,d@gmail.com,False,Male,dddd,False
8,False,user2,user2@gmail.com,False,Male,user two,False
9,False,user4,user4@gmail.com,False,F,user four,False